@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&family=Rubik+Dirt&display=swap");

* {
  font-family: "Poppins" !important;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
}

.removeScrollBar::-webkit-scrollbar {
  display: none;
  width: 0px;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

.removeScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-message-custom-content>span {
  font-size: 12px;
}

.react-dropdown-select {
  border-radius: 6px !important;
}

.react-dropdown-select:hover {
  border-color: lightgray !important;
}

.react-dropdown-select:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: lightgray !important;
}

.react-dropdown-select:focus-within {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: lightgray !important;
}

.react-dropdown-select-dropdown {
  border-radius: 6px !important;
}

.searchAutoComplete {
  width: 250px !important;
}

.ant-tooltip-inner {
  font-size: 10 px !important;
}

.file-input {
  display: block;
  border-radius: 8px;
  height: 40px;
  width: 300px;
  margin-bottom: 20px;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-actions {
  display: flex;
  gap: 10px;
}

.file-action-icon {
  cursor: pointer;
}

.delete-icon {
  color: red;
}

.preview-icon {
  color: blue;
}